@page "/"
@inject NavigationManager NavigationManager

<h1>Upload your snapshot file :</h1>
<TelerikUpload @ref="@UploadRef" AutoUpload="false" SaveUrl="@SaveUrl" RemoveUrl="@RemoveUrl"
               SaveField="file" RemoveField="fileToRemove"
               AllowedExtensions="@( new List<string>() { ".xml" } )"
               MaxFileSize="2048000" MinFileSize="1024">
</TelerikUpload>

<br />
<TelerikButton OnClick="@UploadFiles">Upload File</TelerikButton>


@code {
    public TelerikUpload UploadRef { get; set; }
    // One way to define relative paths is to put the desired URL here.
    // This can be a full URL such as https://mydomain/myendpoint/save
    public string SaveUrl => ToAbsoluteUrl("api/upload/save");
    public string RemoveUrl => ToAbsoluteUrl("api/upload/remove");

    public string ToAbsoluteUrl(string url)
    {
        return $"{NavigationManager.BaseUri}{url}";
    }

    public void UploadFiles()
    {
        UploadRef.UploadFiles();
    }

}